[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
slackclient = "~=2.0.0"
gunicorn = "*"
coverage = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
